body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: justify;
  background-color: #42e0f5;
}

h1 {
  text-align: left;
}

img {
  height: 250px;
  border-radius: 10%;
  width: auto;
  display: block;
}

.hi {
  color: #b2a8bf;
}

.link {
  color: #bf973f;
}

.box {
  float: left;
  border: 2px solid #000;
  padding: 10px; 
  margin: 15px;
}
